<!-- --------------------------------------------Dialog ------------------------------------------------- -->
<!-- ===============Login -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">

                <div class="card">
                    <div class="row">
                        <div class="col col-9"></div>
                        <div class="col col-1">
                            <button id="btn-close-dialog-login-and-register" type="button"
                                class="btn btn-outline-success" data-dismiss="modal"><i
                                    class="material-icons">close</i></button>
                        </div>
                    </div>


                    <article class="card-body">
                        <a href="" data-toggle="modal" data-dismiss="modal" data-target="#registerAccountModal"
                            class="float-right btn btn-outline-primary">Đăng Ký</a>
                        <h4 class="card-title mb-4 mt-1">Đăng Nhập</h4>
                        <p>
                            <a href="/account/logingg" class="btn btn-block btn-outline-danger"> <i class="fab fa-gofore"></i> Đăng nhập
                                với Google</a>
                            <a href="/account/loginfb" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>  
                                Đăng nhập với facebook</a>
                        </p>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label style="display:none" id="err">Tên đăng nhập hoặc mật khẩu không hợp lệ</label>
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <input id="login-email" class="form-control" name="email" placeholder="Email..." type="email">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <input id="login-password" class="form-control" placeholder="Mật khẩu" name="password" type="password">
                            </div> <!-- form-group// -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-block btn-submit-login-account"> Đăng nhập </button>
                                    </div> <!-- form-group// -->
                                </div>
                                <div class="col-md-6 text-right">
                                    <a class="small" href="#">Quên mật khẩu?</a>
                                </div>
                            </div> <!-- .row// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
                </aside> <!-- col.// -->
                <aside class="col-sm-4">
                    <!--container end.//-->
            </div>
        </div>
    </div>
</div>
<!-- ===============endlogin -->


<!-- Register Account======================== -->
<div class="modal" id="registerAccountModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
    
                    <div class="card">
                           
                        <div class="row">
                            <div class="col col-9"></div>
                            <div class="col col-1">
                                <button id="btn-close-dialog-login-and-register" type="button" class="btn btn-outline-success" data-dismiss="modal"><i class="material-icons">close</i></button>
                            </div>
                        </div>
                        <article class="card-body">
                                
                            <a href="" data-dismiss="modal" data-toggle="modal" data-target="#myModal" class="float-right btn btn-outline-primary">Đăng Nhập</a>
                            <h4 class="card-title mb-4 mt-1">Đăng Ký</h4>
                            <p>
                                <a href="/account/logingg" class="btn btn-block btn-outline-danger"> <i class="fab fa-gofore"></i> Đăng nhập
                                    với Google</a>
                                <a href="/account/loginfb" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>  
                                    Đăng nhập với facebook</a>
                            </p>
                            <hr>
                            <form id="form-register-account" method="POST" action="account/register-account">
                                <div class="form-group">
                                        <label style="display:none" id="err-reg">Email đã tồn tại..</label>
                                    <input name="email" id="reg-email" class="form-control" placeholder="Email của bạn..." type="email">
                                </div> <!-- form-group// -->
                            
                                <div class="form-group">
                                    <input name="fullname" class="form-control" placeholder="Họ và Tên" type="text">
                                </div> <!-- form-group// -->
                            
                                <div class="form-group">
                                        <div class="row">
                                                <label class="col-3"><b>Giới tính</b></label>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label" for="radio1">
                                                        <input type="radio" class="form-check-input" id="radio1" name="sex" value="Nam" checked>Nam
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label" for="radio2">
                                                        <input type="radio" class="form-check-input" id="radio2" name="sex" value="Nữ">Nữ
                                                    </label>
                                                </div>
                                            </div>
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                <div class="row">
                                        <label class="col-3"><b>Ngày sinh</b></label>
                                        <div class="form-check-inline">               
                                            <select class="form-control col-5" id="day" name="day">
                                                    <option value="day">
                                                            Ngày
                                                    </option>
                                                <%for(var i =1; i<=31; i++){%>
                                                <option value="<%=i%>">
                                                    <%=i%>
                                                </option>
                                                <%}%>
                                            </select>
                                            <select class="form-control col-5" id="month" name="month">
                                                    <option value="month">
                                                            Tháng
                                                    </option>
                                                            <%for(var i =1; i<=12; i++){%>
                                                <option value="<%=i%>">
                                                    <%=i%>
                                                </option>
                                                    <%}%>
                                            </select>
                                            <select class="form-control col-5" id="year" name="year">
                                                    <option value="year">
                                                            Năm
                                                    </option>
                                                            <%for(var i =2030; i>=1900; i--){%>
                                                <option value="<%=i%>">
                                                    <%=i%>
                                                </option>
                                                <%}%>
                                            </select>
                                                    
                                        </div>
                                </div>
                            </div>
                                <div class="form-group">
                                    <input name="phone" class="form-control" placeholder="Số điện thoại..." type="text">
                                </div> <!-- form-group// -->
                            
                                <div class="form-group">
                                    <input name="adress" class="form-control" placeholder="Địa chỉ..." type="text">
                                </div> <!-- form-group// -->

                                <div class="form-group">
                                        <input name="password" id="loginpassword" class="form-control" placeholder="Mật khẩu..." type="password">
                                    </div> <!-- form-group// -->

                                    <div class="form-group">
                                            <input name="confirmpassword"  class="form-control" placeholder="Nhập lại mật khẩu..." type="password">
                                        </div> <!-- form-group// -->

                                <div class="row">
                                    <div class="col-md-6">
                                       
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block btn-submit-register-account"> Đăng Ký </button>
                                                </div> <!-- form-group// -->
                                    </div>
                                </div> <!-- .row// -->
                            </form>
                        </article>
                    </div> <!-- card.// -->
                    </aside> <!-- col.// -->
                    <aside class="col-sm-4">
                        <!--container end.//-->
                </div>
            </div>
        </div>
    </div>
<!-- End Register Account==================== -->



        <!-- --------------------------------------------End Dialog--------------------------------------------- -->
        
        
        