<%include ../partials/header%>

<%include ../partials/dialogloginregister%>

<!-----------------------------------------------Container ------------------------------------------------>
<!----------------------------------- Detail for index page ------------------------------------------------>
<div class="container containerdetail">
    <div class="row content">
           
        <!-- ----------------------------------Content left--------------------------------------- -->
        <div class="col-sm-8">
            <%data.Items.forEach(function(i){%>
            <div class="row" id="<%=i.id%>">
                <div class="col-sm-5">
                    <div class="panel">
                        <img src="<%=i.posterimage%>" class="imgpanel">
                        <div class="overlay"><img src="iconplay.png" class="plugoverlay" id="<%=i.trailer%>">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="detail">
                        <h2><%=i.title%></h2><br>
                        <span><i class='far fa-clock'></i> <%=i.distance%>p</span><br>
                        <span>Quốc gia: <%=i.country%></span><br>
                        <span>Đạo diễn: <%=i.director%></span><br>
                        <span>Thể loại: <%=i.typemovie%></span><br>
                        <span>Diễn viên: <%=i.actor%></span><br>
                        <span>Nhà sản xuất: <%=i.producer%></span><br>
                        <span>Ngày: <%=i.publicationdate%></span>
                    </div>
                </div>
            </div>
            <div class="contentmovie">
                <h4>Nội dung phim</h4><br>

                <p><%-i.content%></p>
            </div>
               
                <%if(i.stt==2){%>
                    <button class="btn btn-primary btn-back-history">Trở lại</button>
                <%}%>
            <%})%>

        </div>
        <!-- --------------------------------End Content left---------------------------------- -->
        <!-- --------------------------------Content right------------------------------------- -->
        <div class="col-sm-4 bg-dark">

        </div>
        <!-- -------------------------------------End Content right-------------------------------- -->

    </div>
</div>
</div>

<!-- --------------------------------------------End Detail--------------------------------------------->
<%include ../partials/footer%>
<script>
    $(".plugoverlay").grtyoutube({
        autoPlay: true,
        theme: "dark"
    });
</script>