<%include ../partials/header%>

<%include ../partials/dialogloginregister%>

<!-----------------------------------------------Container ------------------------------------------------>
<%var count=1%>
<div class="container lst-movie-registed-get">
    <%result.Items.forEach(function(i){%>
    <div class="item-registerlist btnregistionmovie<%=count%>" id="<%=i.id%>">
        <div class="row registerlist-title">
            <label class="col col-1">
                <h3><%=count%></h3>
            </label>
            <label class="col col-11">
                <h3 class="<%=i.id%>" id="<%=i.title%>"><%=i.title%></h3>
            </label>
        </div>
        <div class="row registerlist-label-topic">
            <label class="col col-2">Nhà phát hành</label>
            <label class="col col-2">Người tạo</label>
            <label class="col col-2">Hạn đăng ký</label>
            <label class="col col-3">Ghi chú</label>
            <div class="col col-3">
                <button class="btn btn-success btnregistionmovie" id="btnregistionmovie<%=count%>">Đăng ký</button>
            </div>
        </div>
        <div class="row registerlist-detail">
            <label class="col col-2"><%=i.producer%></label>
            <label class="col col-2"><%=i.creater%></label>
            <label class="col col-2 deadline"><%=i.deadline%></label>
            <label class="col col-3"><%=i.note?i.note:"Note:"%></label>
            <div class="col col-3">
                <button class="btn btn-primary">Ghi chú</button>
                <button class="btn btn-primary">Sửa</button>
                <button class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
    <%count++ })%>
</div>





<!-- </div> -->

<!-- --------------------------------------------End Detail--------------------------------------------->
<%include ../partials/footer%>