<%include ../partials/header%>
<!-----------------------------------------------Container ------------------------------------------------>
 <!-- Movie List Area Start -->
  <!-- Movie List Area Start -->

  <!-- Breadcrumb Area Start -->
  <section class="filmoja-breadcrumb-area section_70">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="breadcrumb-box">
                    <h2><%=txtsearch%></h2>
                    <ul>
                       <li><a href="/">Trang chủ</a></li>
                       <li class="active-breadcromb"><%=txtsearch%></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Breadcrumb Area End -->
      
  <section class="filmoja-movie-list-area celebrity-page section_70">
    <div class="container">
       <div class="row no-margin-top">

  
        <%data.Items.forEach(function(i){%>
            <div class="col-md-3">
                    <div class="single-top-movie">
                       <div class="top-movie-wrap">
                          <div class="top-movie-img">
                             <a href="#">
                             <img src="https://s3-us-west-2.amazonaws.com/movies-project-bucket/<%=i.info.posterimage%>" alt="top movies">
                             </a>
                          </div>
                          <div class="thumb-hover">
                             <a href="/detail-movie?id=<%=i.id%>" class="celebrity-link">Xem chi tiết</a>
                             <ul>
                                <a href="<%=i.trailer%>" class="filmoja-btn tablet-action"><i class="fa fa-play"></i>Xem trailer</a>
                             </ul>
                          </div>
                       </div>
                       <div class="top-movie-details">
                          <h4><a href="/detail-movie?id=<%=i.id%>"><%=i.title%></a></h4>
                          <p><%=i.country%></p>
                       </div>
                    </div>
                 </div>
        <%})%>


        
    </div>
 </section>
 <!-- Movie List Area End -->
  
 <!-- Movie List Area End -->
<!-- --------------------------------------------End Detail--------------------------------------------->
<%include ../partials/footer%>