<%include ../partials/header%>

<%include ../partials/dialogloginregister%>

<!-----------------------------------------------Container ------------------------------------------------>
<%var count=1%>
<div class="container list_approve">
    <%data.Items.forEach(function(i){%>
    <div class="item-registerlist list<%=count%>" id="<%=i.id%>">
        <div class="row registerlist-title">
            <label class="col col-1">
                <h3><%=count%></h3>
            </label>
            <label class="col col-9">
                <h3 class="<%=i.id%>" id="<%=i.title%>"><%=i.title%></h3>
            </label>
            <!-- <div class="col col-2">
                <button class="btn btn-danger btn-remove-approve" data-toggle="modal"
                data-target="#myModalremove" id="btn-approve<%=count%>"></button></div> -->
        </div>
        <div class="row registerlist-label-topic">
            <label class="col col-2">Nhà phát hành</label>
            <label class="col col-2">Người viết bài</label>
            <label class="col col-2">Ngày nộp bài</label>
            <label class="col col-2">Hạn nộp bài</label>
            <label class="col col-2">Ghi chú</label>
            <div class="col col-2">
                <button class="btn btn-success btn-edit-post-member" id="list<%=count%>" type="button">Sửa bài viết</button>
            </div>
        </div>
        <div class="row registerlist-detail">
            <label class="col col-2"><%=i.producer%></label>
            <label class="col col-2"><%=i.writer%></label>
            <label class="col col-2 deadline"><%=i.dateofwrite%></label>
            <label class="col col-2 deadline"><%=i.deadline%></label>
            <label class="col col-2"><%=i.note?i.note:"Note:"%></label>
            <div class="col col-2">
                <button class="btn btn-warning btn-view-post-member" id="list<%=count%>" >Xem trước</button>

                <!-- <button class="btn btn-primary">Sửa</button>
                <button class="btn btn-danger">Xóa</button> -->
            </div>
        </div>
    </div>
    <%count++ })%>
    <!-- Dialog Note -->
    <!-- The Modal -->
    
</div>

<!-- --------------------------------------------End Detail--------------------------------------------->
<%include ../partials/footer%>